<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheelDefender</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="../css/drivercss.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>


    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <header>
            <div class="brandLogo">
                <span>WheelDefender</span>
            </div>
        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="<%= data.detailsOfDrivingLicence.pho %>" alt="profile" width="250px" height="250px">
                </figure>
            </div>
        </section>
----

        <!-- ===== ===== Work  Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 class="heading">Address</h1>
                <div class="primary">
                    <p>
                        <%= data.detailsOfDrivingLicence.addressList[0].completeAddress %>
                    </p>
                    <p>
                        <%= data.detailsOfDrivingLicence.addressList[0].splitAddress.state[0] %>
                    </p>
                    <p>
                        <%= data.detailsOfDrivingLicence.addressList[0].splitAddress.country[2] %>
                    </p>

                </div>


                <!-- ===== ===== Circle Contaienr ===== ===== -->
                <div class="circle-wrap">
                    <div class="circle">

                        <div class="mask full">
                            <div class="fill"></div>
                        </div>

                        <div class="mask half">
                            <div class="fill"></div>
                        </div>

                        <div class="inside-circle">
                            300 points
                        </div>


                    </div>
                </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">
                    <%= data.detailsOfDrivingLicence.name %>
                </h1>
                <!-- <p>Ola</p> -->
                <br><br>
                <h6>Class Of Vehicles</h6>
                <ul>
                    <li>
                        <p>
                            <%= data.badgeDetails[0].classOfVehicle[0] %>
                        </p>
                    </li>
                    <li>
                        <p>
                            <%= data.badgeDetails[0].classOfVehicle[1] %>
                        </p>
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline" id="Timeline">
                        <i class="ri-eye-fill ri"></i>
                        <span>Challans</span>
                    </li>

                    <li class="about active" id="contact_Info">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info" id="contact_Info1">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">+91 7300696475</span>
                    </li>
                    <li class="dl">
                        <h1 class="label">Driving Licence:</h1>
                        <span class="info">
                            <%= data.dlNumber %>
                        </span>
                    </li>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">
                            <%= data.dob %>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="challan" id="Timeline1" style="opacity: 0;">
                <h1 class="heading">Challan </h1>
                <% for(let c of challans) {%>
                    <div>Reason : <%= c.reason %>
                    </div>
                    <%}%>

            </div>

        </section>
    </div>
    <script>
 
        document.getElementById("Timeline").addEventListener('click',()=>{
            document.getElementById("Timeline1").style.opacity=1;
            document.getElementById("contact_Info1").style.opacity=0;
            document.getElementById("contact_Info").classList.remove('active')
            document.getElementById("Timeline").classList.add('active')
            document.getElementById("Timeline1").style.marginTop = "-145px"; 
        })

        document.getElementById("contact_Info").addEventListener('click',()=>{
            document.getElementById("Timeline1").style.opacity=0;
            document.getElementById("contact_Info1").style.opacity=1;
            document.getElementById("contact_Info").classList.add('active')
            document.getElementById("Timeline").classList.remove('active')
        })

    </script>
</body>

</html>